#game-select{

  padding-top: 5%;
}
.logo-img{
width:50px;
border:1px solid #00263b;
border-radius: 50%;
box-shadow: 5px 5px 5px #ff5200;
}
.game-demo{
  text-align: center;
}
.uttam-profile{
  border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
   height: 100%;
   width: 100%;
   padding: 3%;
   text-align:center;
   box-shadow: 5px 5px 5px 5px #dddddd;
   background-color: #f9f9f9;

}
.profile-img{
  width:200px;
  height:200px;
  border-radius: 100%;
  box-shadow:0px 0px 4px 4px #dddddd;


}

.para-profile{
  margin:10%;
}
.fas{
  margin-right: 10px;
}


.play1{
  height:100%;
  width:100%;
}
.play-box{
  margin-left:10%;
  box-shadow: 5px 5px 5px 5px #dddddd;
}
@media only screen and (max-width: 800px){
.uttm-profile{
  padding-bottom:10%;
}
.lead{
  padding-top: 10%;
}
.game-steps{
  padding-top:10%;
}
.play-box{
  margin-left:0%;
  margin-top:10%;
}
}
